*{
    box-sizing:border-box;
    margin:0;
    border:0;
}

.cadastro{
    height:110vh;
    background-color:black;
    font-family:'Poppins';
}
.cadastro-header{
    position:absolute;
    display:flex;
    left:3%;
}

.cadastro-body{
    display:flex;
}
.cadastro-body .pics .pic img{
    margin-top:30%;
    width:100%;
    -webkit-box-shadow: -60px 21px 0px 10px rgba(92,52,52,1);
    -moz-box-shadow: -60px 21px 0px 10px rgba(92,52,52,1);
    box-shadow: -60px 21px 0px 10px rgba(92,52,52,1);
}

.cadastro-buttons{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:4%;
}
.cadastro-buttons button{
    background-color:#5C3434;
    border-radius:0;
    text-decoration:none;
    color:#F7FF9A;
}

.cadastro-buttons button:hover{
    background-color:black;
    border:2px solid #F7FF9A;
    color:#F7FF9A;
}

.cadastro-buttons label {
    margin-top:-5%;
}
.btn-cadastro{
    margin-top:3%;
}
.msg-error{
    color: white;
}