* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.cadastroLivro {
    height: 110vh;
    background-color: #814EFF;
    font-family: 'Poppins';
}

#btn-cadastra {
    padding: 10px 20px;
    background-color: #F7FF9A;
    color: #000;
    border-radius: 0;
}

.form-livro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.form-livro h2 {
    margin-top: 5%;
}

.form-livro form {
    margin-top: 2%;
}

.form-livro form label,
form input,
form textarea {
    margin-top: 2%;
}

.form-livro input,
.form-livro textarea {
    border-radius: 0;
}

.form-livro label {
    color: #F7FF9A;
}

.form-livro h2 {
    text-align: left;
    font-size: 1.8em;
    color: #F7FF9A;
}

#livro-descricao {
    height: 100px;
}