*{
    box-sizing:border-box;
    margin:0;
    border:0;
}

.login{
    height:100vh;
    background-image:linear-gradient(to bottom, #755BB2, #FF7C7C);
    font-family:'Poppins';
}
.login-header{
    position:absolute;
    display:flex;
    left:3%;
}
.img .light-pic{
    width:80%;
    filter: drop-shadow(-3px 6px 27px #FFD600)
}
.header-title h1{
    color:#F7FF9A;
    margin-left:-30%;
    width:20%;
    margin-top:10%;
    font-weight:bold;
}
.login-body{
    display:flex;
}
.login-body .pics-login .pic img{
    margin-top:25%;
    width:85%;
    -webkit-box-shadow: -60px 21px 0px 10px #000;
    -moz-box-shadow: -60px 21px 0px 10px #000;
    box-shadow: -60px 21px 0px 10px #000;
}
.pics-login p{
    color:#F7FF9A;
    font-style:italic;
}
.form{
    margin-top:12%;
    margin-left:5%;
    display:inline;
}
.form form{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:5%;
}
.form form label, form input{
    margin-top:5%;
}
.form input{
    border-radius:0;
}
.form label{
    color:#F7FF9A;
}
.form h2{
    font-size:1.8em;
    color:#F7FF9A;
}
.login-buttons{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:4%;
}
.login-buttons button{
    background-color:#000;
    border-radius:0;
    text-decoration:none;
    color:#F7FF9A;
}
.link-btn{
    text-decoration:none;
    color:#F7FF9A;
}
.login-buttons button:hover{
    background-color:black;
    border:2px solid #F7FF9A;
    color:#F7FF9A;
}
.link-btn:hover{
    color:#F7FF9A;
}
.login-buttons p {
    margin-top:5%;
}
.btn-login{
    margin-top:3%;
}