*{
    box-sizing:border-box;
    margin:0;
    border:0;
}
.welcome{
    height:100vh;
    background-color:black;
    font-family:'Poppins';
}
.welcome-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.light{
    filter: drop-shadow(-3px 6px 27px #FFD600)
}

.title h2{
    text-transform:uppercase;
    font-weight:600;
    color:#FFD600;
}
.subtitle{
    color:#F7FF9A;
}

.options{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.options button{
    width:20%;
    margin-top:2%;
    border-radius:0;
    text-transform:lowercase;
    letter-spacing:5px;
}
.options button .link-btn{
    text-decoration:none;
    color:#FFD600;
}
.options .cadastro-btn{
    background-color:#5C3434;
}
.options .login-btn{
    background-color:#FF7C7C;
}
.options button:hover{
    background-color:black;
    color:#FFD600;
    border:2px solid #FFD600;
}